.share-btn {
    color: #4609AC;
    font-weight: 600;
    background: #fff;
    border: none;
    text-transform: uppercase;
    padding: 8px 16px;
    right: 0;
}

.share-btn:hover {
    color: #cc0303;
}

.menu-and-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 10px 0;
}

.menu-icon {
    font-size: 28px;
    color: #4609AC;
    cursor: pointer;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.timeline-card {
    flex: 1 1 30%;
    border: 1px solid #4609AC;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.tech-name {
    font-weight: bold;
    color: #4609AC;
    margin-bottom: 10px;
}



h3 {
    color: #cc0303;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 25px;
}

.proj-desc {
    color: rgba(74, 74, 74, 0.812);
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 3px solid #212EA0;
}

.img-desc-cover {
    padding: 10px;
    text-align: left;
}

.img-desc-p {
    color: #cc0303;
    font-size: 15px;
    margin-left: 10px;
}

.upcoming-pro {
    font-size: 50px;
    color: #212EA0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 30vh;
    padding: 100px;
}

.up-p {
    text-shadow: 0 5px 9px #000;
    transition: all .5s ease-in-out;
}

.up-p:hover {
    transform: scale(1.2);
}

.modal-content {
    position: relative;
    text-align: center;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #212ea06f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #212EA0;
}

.close-icon {
    background: #0000009b;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .timeline-card {
        flex: 1 1 45%;
    }
}

@media (max-width: 700px) {
    .tab-names {
        display: none; /* Hide tabs by default on mobile */
    }

    .mobile-tabs {
        display: block;
    }

    .menu-and-share {
        justify-content: space-between;
    }

    .prev-btn, .next-btn {
        font-size: 25px;
        padding: 8px;
    }

    .close-icon {
        font-size: 20px;
        padding: 6px;
    }
}

@media screen and (max-width: 550px) {
    h3 {
        font-size: 18px;
    }

    .proj-desc {
        font-size: 12px;
    }

    .prev-btn, .next-btn {
        font-size: 18px;
        padding: 6px;
    }

    .prev-btn {
        left: 5px;
    }
    
    .next-btn {
        right: 5px;
    }

    .close-icon {
        font-size: 15px;
        padding: 5px;
    }
}

.sub-sec {
    display: flex;
    gap: 20px;
}

.project-link-live {
    float: right;
    color: #cc0303;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fadeColor 2.5s infinite ease-in-out;
}

.project-link {
    float: right;
    color: #212EA0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

@keyframes fadeColor {
    0% {
        color: #cc0303;
    }
    25% {
        color: #fa4949;
    }
    50% {
        color: #fc8989; /* Lighter color for fading effect */
    }
    80% {
        color: #fa4949;
    }
    100% {
        color: #cc0303;
    }
}

.project-cont {
    font-size: 13px;
}

@media (max-width:920px) {
    .sub-sec {
        flex-direction: column;
        gap: 0;
    }
}

.proj-func-desc {
    display: flex;
    gap: 30px;
    font-size: 12px ;
}

.proj-fun-ul {
    text-decoration: none;
    outline: none;
}

.proj-fun-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
    font-size: 12px;
    text-transform: capitalize;
}

.proj-fun-icon {
    color: #212EA0;
}

b {
    color: #212EA0;
    font-size: 12px;
    float: left;
}

.proj-points {
    padding: 5px 0;
}

.proj-li-desc {
    padding-left: 5px;
}
