/* Container for about section */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    border-top: 1px solid;
}

/* Left section with profile picture and roles */
.left-section {
    flex: 0 0 10%;
    text-align: center;
}

.profile-pic {
    width: 250px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto 20px auto;
    box-shadow: -6px 6px 10px rgb(21, 20, 20);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roles h3 {
    display: inline-block;
    font-size: 24px;
    color: #333;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.roles h3 span {
    display: inline-block;
    position: relative;
    color: #212EA0;
    /* Color of the text */
    overflow: hidden;
    clip-path: inset(0 100% 0 0);
    /* Initially hides the text */
    animation: text-reveal 2s ease-in-out infinite;
}

@keyframes text-reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

.span-color {
    color: #212EA0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}


/* Right section with description and download button */
.right-section {
    flex: 0 0 70%;
    padding: 20px;
}

.description-text {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.description-text p {
    text-align: justify;
}

.download-button {
    display: flex;
    justify-content: end;
    text-align: left;
}

.download-button button {
    background-color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #042766;
    border-radius: 5px;
    display: flex;
    margin: 10px 20px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.download-button button:hover {
    background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}

/* Ensure responsiveness */
@media screen and (max-width: 800px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .left-section,
    .right-section {
        flex: 0 0 100%;
    }

    .profile-pic {
        margin-bottom: 30px;
    }
    .download-button {
        justify-content: center;
    }

    .span-color {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }
}


/* Skills title with lines before and after */
.skills-title {
    text-align: center;
    margin: 40px 0;
    position: relative;
    padding: 0 20px;
}

.skills-title::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 50px;
    height: 3px;
    background: #c33000;
}

.skills-title::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 28px;
    height: 3px;background: rgb(195,48,0);
    background: -moz-linear-gradient(45deg, rgba(195,48,0,1) 0%, rgba(33,46,160,1) 34%);
    background: -webkit-linear-gradient(45deg, rgba(195,48,0,1) 0%, rgba(33,46,160,1) 34%);
    background: linear-gradient(45deg, rgba(195,48,0,1) 0%, rgba(33,46,160,1) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c33000",endColorstr="#212ea0",GradientType=1);
}

.skills-title::before {
    left: 51%;
    transform: translateX(-100%);
}

.skills-title::after {
    right: 49%;
    transform: translateX(100%);
}

.skills-title h2 {
    display: inline-block;
    background: #fff;
    /* Background to ensure the text is visible */
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #212EA0;
}

/* Resume Section */

.resume {
    padding: 50px 70px;
}

.resume-row {
    display: flex;
}

.resume-row .wrapper:nth-child(1) {
    width: 65%;
    margin-right: 40px;
}

.resume-row .wrapper :is(.education, .experience) {
    margin-bottom: 80px;
}

.resume-row h2 {
    margin-bottom: 20px;
    color: #212EA0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 23px;
}

.resume-row .grid-item {
    position: relative;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 0px 50px;
    margin-bottom: 20px;
}

.resume-row .grid-item .year {
    text-align: right;
    font-size: 14px;
}

.resume-row .grid-item .company {
    text-align: right;
    font-size: 12px;
    color: rgba(74, 74, 74, 0.7);
}

.resume-row .grid-item :is(.education-description, .experience-description) {
    font-size: 13px;
    color: rgba(61, 61, 61, 0.8);
    text-align: justify;
}

.resume-row .grid-item .divider {
    position: absolute;
    top: 0;
    left: 34.5%;
    width: 1px;
    height: calc(100% + 40px);
    background: rgba(0, 0, 0, 0.6);
}

.resume-row .grid-item .divider::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -3.1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #c33000;
}

.resume-row .wrapper:nth-child(2) {
    width: 35%;
}

.resume-row .design-skill {
    margin-bottom: 40px;
}

.resume-row .progress-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.resume-row .progress-detail .progress-percent {
    font-size: 11px;
    font-weight: 600;
    color: #c33000;
}

.resume-row .progress-bar {
    width: 100%;
    height: 6px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #FF4500;
    box-shadow: 2px 6px 8px;
    padding: 2px;
    margin-bottom: 15px;
    text-align: left;
}

.resume-row .progress {
    height: 100%;
    border-radius: 10px;
    background: #c33000;
}

.coding-skill h2 {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {

    .resume-row {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .resume-row .wrapper {
        width: 100% !important;
    }

    .resume-row .wrapper:nth-child(1) {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .profile-pic {
        width: 130px;
        height: 130px;
    }

    .span-color {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .description-text {
        font-size: 13px;
    }

    .download-button {
        flex-direction: column;
        max-width: 100%;
    }

    .download-button button {
        font-size: 12px;
    }

    .skills-title::before {
        left: 53%;
        transform: translateX(-100%);
    }
    
    .skills-title::after {
        right: 47%;
        transform: translateX(100%);
    }
}

.edu-percent {
    color: #c33000;
    font-weight: 600;
    
}

.address {
    margin-top: 30px;
    font-size: 16px;
}

.workstat {
    margin-top: 20px;
    font-size: 15px;
}

.work-style {
    font-size: 12px;
    background: #c3c9ff;
    padding: 5px 10px;
    border-radius: 6px;
    color: #212EA0;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    .address {
        font-size: 13px;
    }

    .workstat {
        font-size: 12px;
    }

    .work-style {
        font-size: 10px;
        padding: 2px 5px;
    }
}

