.menu {
    gap: 2.3rem;
    height: 94vh;
    transition: width 0.5s ease, padding 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clogo {
    padding-bottom: 10px;
    color: #506E55;
    align-items: center;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 30px;
    border-bottom: 1px solid #273744;
}

.clogo img {
    width: 40px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-list .item {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #273744;
}

.menu-list .item:hover {
    background: #fff;
    color: #212EA0;
}

.menu-list .item.active {
    background: #fff;
    width: 113%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #cc0303;
    transition: all 0.3s ease-in-out;
}

/* Styles for hiding text when only icons are shown */
.menu.icons-only .menu-list .item span {
    display: none;
}

.clogo img {
    width: 40px;
    margin-bottom: 10px;
}

.menu.icons-only .clogo h2 {
    display: none;
}

.hidden-text {
    visibility: hidden;
}

.log-out {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #fff;
}

.log-out .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #273744;
}

.log-out .item:hover {
    background: transparent;
    color: #cc0303;
}

/* Decrease padding and width when icons-only */
.menu.icons-only {
    padding: 0px; /* Adjust as needed */
    width: 70px; /* Adjust as needed */
}

.menu-list {
    width: 113%;
    text-align: center;
}

@media (max-width: 1080px) {
    .clogo {
        margin-right: 100px;
        float: left;
        border: none;
    }
}

@media (max-width: 1300px) {
    .clogo {
        justify-content: left;
        margin-top: 10px;
    }

    h2 {
        display: none;
    }
}

@media (max-width: 800px) {
    .log-out {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: auto;
    }

    .log-out .item {
        padding: 5px;
    }
}
