.model-background {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00064ae3;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.x-btn button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.model-c {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 100%;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.model-background.hide {
    display: none;
}

.title {
    position: relative;
}

.title h1 {
    color: rgb(0, 251, 255);
    font-weight: 600;
    border-bottom: 1px solid #aaaaaa;
}

.emer {
    position: absolute;
    top: 0;
    right: 0;
}

.body p {
    color: #aaaaaa;
    margin-bottom: 20px;
}

.body label {
    color: #03a9cf;
}

.body form input, .body form textarea {
    display: block;
    width: 100%;
    background: #dff8f8;
    color: #4609AC;
    padding: 10px;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    border-radius: 15px;
    border: none;
    box-shadow: none;
}

.footer {
    float: right;
}

.emer input {
    position: relative;
    top: 150px;
    margin-right: 50px;
    box-shadow: none !important;
    border: none !important;
}
