* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: #D9E5EC;
  padding: 20px;
}

.butn {
  background: #fff;
  color: #4609AC;
  padding: 14px 25px;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: 1s smooth;
}

.butn:hover {
  background: #fff;
  color: #4609AC;
  box-shadow: 0 0 20px #333;
  transition: 1s smooth;
}

.butn img {
  width: 20px;
  margin-left: 10px;
  margin-bottom: 12px;
}

.butn.dark-butn {
  background: #759279;
  color: #042766;
  font-weight: 600;
}

.fixed-scroll {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
  background: #f8f9fa;
}


@media (max-width: 1200px) {
  .fixed-scroll {
      left: 60px; /* Adjust based on the icons-only sidebar width */
  }
}
