.table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid;
}

.hide-date-range {
    .rdrMonthAndYearWrapper {
        display: none;
    }

    .rdrMonth {
        padding: 0;
    }

    .rdrWeekDays, .rdrDays {
        display: none;
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-outline-primary {
    margin: 0 10px;
}

.check {
    display: grid;
    justify-content: center;
    background: transparent;
}

.check input {
    margin: 12px 0;
    outline: #cc0303;
}

.check input:checked {
    color: #212EA0;
    border: 1px solid #cc0303;
    background: #cc0303;
}

.c-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-box {
    border-bottom: 2px solid #43da25;
    border-right: 1px solid #43da25;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.all-check {
    font-size: 20px;
    color: #43da25;
    font-weight: 600;
}

.c-box:hover {
    background-color: #ecfce9;
    transition: all 1s ease-in-out;

    .all-check {
        color: #25d802;
        transform: scale(1.2);
    }
}

.switch {
    position: relative;
    height: 30px;
    width: 150px;
    margin: 2px auto;
    background: #D7D7D7;
    border-radius: 32px;
}

.switch-label {
    font-weight: bold;
    position: relative;
    z-index: 2;
    float: left;
    width: 50px;
    line-height: 28px;
    font-size: 18px;
    color: #676a6c;
    text-align: center;
    cursor: pointer;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    color: #FFF;
    transition: 0.15s ease-out;
    transition-property: color, text-shadow;
}

.switch-input:checked + .switch-label-y ~ .switch-selector {
    transform: translateX(0%);
    background-color: #c23d4a;
}

.switch-input:checked + .switch-label-i ~ .switch-selector {
    transform: translateX(100%);
    background-color: #e2ba49;
}

.switch-input:checked + .switch-label-n ~ .switch-selector {
    transform: translateX(200%);
    background-color: #089a7d;
}

.switch-selector {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 27px;
    background-color: #1ab394;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
